.clientName{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    margin:0;
}
.navbar .navbar-nav li.show li.active a{
    color: #03a9f3 !important;
}
.help-block{
    color: #FF0000;
}
.no-margin{
    margin: 0 !important;
}
.pagination{
    float: right;
    margin-right: 1.25em;
}
.select2-container .select2-selection--single{
    height: calc(2.25rem + 2px) !important;
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(2.25rem) !important;
    padding-left: 17px !important;
}